.chat-container {
    display: flex;
    height: 100vh;
  }
  
  .equipeLista {
    width: 25%;
    background-color: #f0f0f0;
    padding: 10px;
    border-right: 1px solid #ccc;
  }
  
  .areaDeChat {
    width: 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  
  .listaEquipes {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .equipeItem {
    padding: 10px;
    margin-bottom: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  .equipeItem:hover {
    background-color: #d0d0d0;
  }
  
  .mensagens {
    flex-grow: 1; 
    overflow-y: auto; 
    margin-bottom: 10px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-end; 
}

.mensagemUsuario {
    text-align: right;
    background-color: #d1e7dd; 
    padding: 8px; 
    border-radius: 5px; 
    display: inline-block; 
    max-width: 70%; 
    margin: 5px 0; 
}

.mensagemOutro {
    text-align: left;
    background-color: #e7f1ff; 
    padding: 8px; 
    border-radius: 5px; 
    display: inline-block; 
    max-width: 70%; 
    margin: 5px 0; 
}

  
  .footerChat {
    display: flex;
    align-items: center; 
    border-top: 1px solid #ccc; 
  }
  
  .footerChat input {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btnAnexar {
    background: transparent; 
    border: none; 
    cursor: pointer; 
    font-size: 18px; 
    margin-left: 10px; 
  }
  