.adicionar-usuario-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.titulo {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #555;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.botao-adicionar, .botao-listar {
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botao-adicionar {
  background-color: #4CAF50;
  color: white;
}

.botao-listar {
  background-color: #007BFF;
  color: white;
}

.botao-adicionar:hover, .botao-listar:hover {
  opacity: 0.9;
}
