.card {
    background-color: #2c3e50;
    border: 1px solid #34495e;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra levemente mais forte */
    background-color: #fff; /* Cor de fundo do card */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 15px; /* Espaçamento interno do card */
    margin: 40px; /* Margem entre os cards */
    flex: 1; /* Cada card ocupa espaço igual no contêiner */
    min-width: 200px; /* Largura mínima para os cards */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    color: #ecf0f1; /* Texto branco */
    
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ecf0f1;
}

.card-content {
    margin-top: 10px;
}

.tasks-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column; 
}

.task-item {
    padding: 10px;
    
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 5px; 
    background-color: #95a5a6; 
    color: #333232;
}


.task-item:hover {
    background-color: #7f8c8d;
}

.task-item.selected {
    background-color: #34495e; 
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #ecf0f1; 
}
