.graph-row {
    display: flex;
    justify-content: space-between; /* Espaço entre os gráficos */
    margin-bottom: 40px; /* Aumenta o espaço abaixo da linha de gráficos */
}

.graph-container {
    width: 45%; /* Ajuste a largura conforme necessário */
    height: 400px; /* Mantenha a altura constante */
    margin-bottom: 20px; /* Espaço abaixo de cada gráfico */
}

.graph-container h2 {
    margin-bottom: 10px; /* Espaço entre o título e o gráfico */
}
