body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.informativo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; /* Permite que os cards fiquem em várias linhas se necessário */
  margin-top: 20px;
  padding: 50px;
}

.setor-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  border: 1.5px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  height: 270px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #333;
  transition: transform 0.3s, box-shadow 0.3s;
}

.setor-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-content h3 {
  font-size: 1.5em;
  color: #0a4c71;
  margin-bottom: 10px;
}

.card-content p {
  margin-top: 5px;
  font-size: 0.9em;
  color: #555;
}

.setor-image {
  width: 100px;
  height: auto; /* Mantém a proporção */
  margin-bottom: 10px; 
}