.footer {
  background-color: #0a4c71;
  padding: 10px;
  color: #fff;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Para que o footer fique sempre na parte inferior */
}

