body {
  z-index: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5; 
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.search-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #007bff;
  outline: none;
}

.processo-card {
  border: none;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.processo-card:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.processo-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
  color: #007bff;
}

.event-item {
  border-left: 2px solid #ddd;
  padding-left: 20px;
  margin-bottom: 15px;
  position: relative;
}

.event-item:last-child {
  margin-bottom: 0;
}

.event-item::before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid gray;
  position: absolute;
  left: -18px;
  top: 6px;
}

.event-status {
  margin: 0 0 5px;
  font-size: 16px;
  color: #333;
}

.event-status.completed::before {
  border-color: green;
}

.event-status.completed {
  color: green;
}

.event-info {
  margin: 0;
  font-size: 14px;
  color: #777;
}

.event-details-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.event-details-button:hover {
  background-color: #0056b3;
}

.add-event-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-event-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.event-ball {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.event-ball.completed-ball {
  background-color: #007bff;
}

.cadastro-button {
  background-color: #ff4c4c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.cadastro-button:hover {
  background-color: #e60000;
}
