.profile {
    background-color: #d3d0d0; /* Cor de fundo cinza */
    padding: 20px; /* Espaçamento interno */
    min-height: calc(100vh - 60px); /* Altura mínima para ocupar o restante da tela */
    display: flex;
    flex-direction: column; /* Alinha os itens na coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
  }
  
  .profile-pic {
    width: 100px; /* Largura da imagem */
    height: 100px; /* Altura da imagem */
    border-radius: 50%; /* Torna a imagem circular */
    object-fit: cover; /* Cobre o espaço da imagem mantendo a proporção */
    margin-top: 20px; /* Espaçamento acima da imagem */
  }
  
  .profile-name {
    margin-top: 10px; /* Espaçamento acima do nome */
    font-size: 1.5em; /* Tamanho da fonte do nome */
    color: #333; /* Cor do texto do nome */
    text-align: center; /* Centraliza o texto do nome */
  }
  
  .profile-id {
    margin-top: 5px; /* Espaçamento acima do ID */
    font-size: 1em; /* Tamanho da fonte do ID */
    color: #666; /* Cor do texto do ID */
    text-align: center; /* Centraliza o texto do ID */
  }
  
  .profile-info p {
    margin: 5px 0;
  }
  
  