.form-adicionar-container {
  padding: 20px;
  max-width: 500px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  display: relative;
  width: 40%;
  padding: 10px;
  background-color: #0a4c71;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #f80000;
}

.btn-voltar {
  position: absolute; /* Faz o botão ficar posicionado em relação ao pai */
  top: 120px; /* Distância do topo da tela */
  left: 500px;
  width: 35px;
  height: 35px;
  background: none;
  border: 2px solid #08405b;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  color: #0a4c71;
  padding: 0px;
  transition: background-color 0.3s, color 0.3s; /* Adiciona transição suave */
}

.btn-voltar:hover {
  color: #08405b;
}
