.lista-veiculos-container {
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
}

.header-lista h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.btn-novo {
  background-color: #0a4c71;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.btn-novo:hover {
  background-color: #08405b;
}

.veiculos-table {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #fff;
}

.veiculos-table th, .veiculos-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.veiculos-table th {
  background-color: #0a4c71;
  color: #fff;
}

.veiculos-table button {
  margin-right: 10px;
}

.veiculos-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.veiculos-table .btn-editar {
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.veiculos-table button {
  background-color: #0a4c71;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.veiculos-table button:hover {
  background-color: #08405b;
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
  .header-lista {
      flex-direction: column;
      align-items: flex-start;
  }

  .header-lista h2 {
      margin-bottom: 10px;
  }

  .btn-novo {
      width: 100%; /* O botão ocupa toda a largura da tela */
      font-size: 12px;
  }

  .veiculos-table th, .veiculos-table td {
      padding: 8px;
      font-size: 12px;
  }

  .veiculos-table {
      width: 100%; /* A tabela ocupa toda a largura da tela */
  }
}

@media (max-width: 480px) {
  .veiculos-table th, .veiculos-table td {
      padding: 6px;
      font-size: 10px;
  }

  .btn-novo {
      font-size: 10px;
  }
}
